<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :played %><br>
    <%= f.date_select :played %>
  </div>
  <div class="field">
    <%= f.label "Buy In" %><br>
    <%= f.number_field :buyin %>
  </div>
  <div class="field">
    <%= f.label "Winnings" %><br>
    <%= f.number_field :buyout %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
